.footer-wrapper {
    width: 100%;
    background-color: #424b54;
    padding-top: 30px;
    padding-bottom: 30px;
}

.footer-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
    background-color: #424b54;
    justify-content: space-between;
    margin: auto;
}

.social-container {
    display: flex;
}

.social-image {
    width: 40px;
    border-radius: 15px;
    margin-inline-start: 10px;
}

@media screen and (max-width: 1023px) {
    .footer-container {
        display: flex;
        flex-direction: column;
        row-gap: 30px;
        align-items: center;
        justify-content: space-between;
        margin: auto;
    }
}
