* {
    background-color: #353d45;
}

.hero {
    margin-top: 300px;
    margin-bottom: 200px;
}

.hero-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    text-align: center;
    font-size: 25px;
}

/* .hero-image-me {
    width: 300px;
    border-radius: 50%;
} */

.hero-text {
    color: #f2cc8f;
    width: 60%;
}

.hero-text a {
    color: #f2cc8f;
}

/* @media screen and (max-width: 1280)  {
    .hero {
        margin-top: 200px;
    }
} */


@media screen and (max-width: 1023px)  {
    .hero-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 90%;
        margin: auto;
    }

    /* .hero-image-me {
        width: 200px;
    } */

    .hero-text {
        color: #f4f1de;
        width: 90%;
        text-align: center;
    }

    h2 {
        font-size: medium;
    }

}