ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar-logo {
    width: 30px;
}

.navbar-list {
    width: 50%;
    padding: 12px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.navbar-link {
    color: #9b6a6c;
    text-decoration: none;
    font-size: 20px;
}

.navbar-link:hover {
    color:#e2b4bd;
    transition: all 0.2s ease-out;
}

@media screen and (max-width: 960px) {
    .navbar {
        display: none;
    }
}
